@import '../../styles/theme-variables.scss'; 

.container-background {  
    @include themify($themes) {
        background: linear-gradient(146deg, themed('backGroundColorPrimary') 0%, themed('backGroundColorSecondary') 100%);
    }; 
    position: relative;
    transition: all 1s ease-in-out; 
    height: 100vh;
    width: 100vw;
}
.container-background::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../../../public/static/img/background.svg"), url("../../../public/static/img/circle-star.svg");
    background-repeat:no-repeat;
    background-position:center bottom, 118% 70%;
    background-attachment: scroll;
    background-size: contain, 65%;
    z-index: 0;
    opacity: .2;
    /* backdrop-filter:  saturate(100%) brightness(25%); */
} 
.container-home{
    display: flex;
    width: 100%;
    height: 100vh;   
}
.container-info{
    z-index: 1;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% - 101px);
}
.title-text{
    @include themify($themes) {
        color: themed('colorText');
    };
    font-size: 8rem;
    line-height: 100%;
    margin-left: 5rem;
    margin-right: 5rem;
}
.sub-title-text{
    @include themify($themes) {
        color: themed('colorGreen');
    };
    font-size: 2rem;
    font-weight: lighter;
    padding-left: 5rem;
    padding-right: 5rem;
    display: block;
    white-space: nowrap;
    border-right: 4px solid;
    line-height: 2.5rem;
    width: 29ch;
    animation: typing 2s steps(29), blink .5s infinite step-end alternate ;
    overflow: hidden;
    
}
@keyframes typing {
    from { width: 0;}
}
@keyframes blink {
    50% { border-color: transparent;}
}